/* @font-face {
    font-family: 'qkBbXvYC6trAT7RVLtw';
    src: url(./font/qkBbXvYC6trAT7RVLtw.eot);
    src: url(./font/qkBbXvYC6trAT7RVLtw.eot?#iefix) format('embedded-opentype'),
    url(./font/qkBbXvYC6trAT7RVLtw.otf) format('otf'),
    url(./font/qkBbXvYC6trAT7RVLtw.svg#qkBbXvYC6trAT7RVLtw) format('svg'),
    url(./font/qkBbXvYC6trAT7RVLtw.ttf) format('truetype'),
    url(./font/qkBbXvYC6trAT7RVLtw.woff) format('woff'),
    url(./font/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
} */


html > * {
    letter-spacing: normal;
}

html, body, #main {
    min-height: 100vh;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    position: relative;
} 
/* #vendedores{
    height:100%;
} */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    font-family: Helvetica, Sans-Serif;
}

/* .gsOFqj {
    z-index: 0;
    overflow: hidden;
    margin-bottom: 8px;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    border: 2px solid rgb(61, 59, 60);
    background-color: rgb(61, 59, 60);
    color: rgb(255, 255, 255);
    border-radius: 50px;
}
.fxPOXp:focus {
    outline: none;
}

.sc-bdfBwQ:hover{
    background-color: #fff;
    color:#000;
    border-radius: 50px;
}

.gQMCNA {
    position: relative;
    height: auto;
}


.exGbzQ {

    white-space: nowrap;
    overflow: hidden;
    hyphens: auto;
    white-space: normal;
    background: none;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    padding-left: 20px;
    padding-right: 20px;
}

.fxPOXp {
    border: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 8px 66px;
    margin: 0px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    width: 100%;
    cursor: pointer;
    appearance: none;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
}

.snEmw {
    position: relative;
}
#main {
    padding: 10px 20px;
}

#logo {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#load {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 100px;
}
.text {
    text-align: center;
    padding: 5px;
}
.online {
    background: url('/img/online.png') no-repeat  10px;
}
.offline{
    background: url('/img/offline.png') no-repeat 10px;
    color: #666464;
}
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

video { width: 100%; max-height: 100%; }

@media (min-width:500px){
  .base{
    width: 50%;
    flex: 1;
  }
}
@media (max-width:499px){
  .base{
    width: 100%;
    flex: 1;
  }
} */

#logo {
    margin:16px auto;
}

.logo img {
    display: block;
    width: 100px;
}

.titulo{
    font-size: small;
}
div.sub {
    width: 93.5%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.text-verde{
    color: #0fcc45;
    font-weight: bold;
}
.text-vermelho{
    color: #da3b26;
    font-weight: bold;
}
div.online-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    
    background-color: #0fcc45;
    border-radius: 50%;
    
    position: relative;
  }
  span.blinkonline {
    display: block;
    width: 15px;
    height: 15px;
    
    background-color: #0fcc45;
    opacity: 0.7;
    border-radius: 50%;
    
    animation: blink 1s linear infinite;
  }
  div.offline-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    
    background-color: #da3b26;
    border-radius: 50%;
    
    position: relative;
  }
  span.blinkoffline {
    display: block;
    width: 15px;
    height: 15px;
    
    background-color: #cc1c0f;
    opacity: 0.7;
    border-radius: 50%;
    
    animation: blink 1s linear infinite;
  }
  .dentro {
    position: absolute!important;
    width: 10px!important;
    height: 10px!important;
    top: 15px;
    left: 15px;
    z-index: 2;

  }

  .dentro.blinkonline {
    width: 10px!important;
    height: 10px!important;
  }
  
  h2.online-text {
    display: inline;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-shadow: 0px 3px 6px rgba(150, 150, 150, 0.2);
    
    position: relative;
    cursor: pointer;
  }
  
  /*Animations*/
  
  @keyframes blink {
    100% { transform: scale(2, 2); 
            opacity: 0;
          }
  }

 




.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 50%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
    position: relative;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .row {
      flex: 80%;
      max-width: 80%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex: 90%;
      max-width: 90%;
    }
  }

  /* .navMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */
  
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #fddb3a;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .limpar{ color: #333;}